<form method="POST" action="/login">
    <p>Enter email</p>
    <input name='email' type="email" required>
    <p>Enter Password</p>
    <input name="password" type="password" required>
    <button type="submit">Login</button>
</form>